@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administration</h1>

<ul>
    <li>
        <a asp-action="Index" asp-area="Admin" asp-controller="Characters" class="btn btn-primary m-2">Characters</a>
    </li>
    <li>
        <a asp-action="Index" asp-area="Admin" asp-controller="Locations" class="btn btn-primary m-2">Locations</a>
        <a asp-action="Index" asp-area="Admin" asp-controller="ConnectedLocations" class="btn btn-primary m-2">Connected locations</a>
    </li>
    <li>
        <a asp-action="Index" asp-area="Admin" asp-controller="Races" class="btn btn-primary m-2">Races</a>
    </li>
</ul>